.profile-pic-container {
	position: relative;
	height: 100px;
	width: 100px;
}

ion-avatar {
	text-align: right;
	width: 150px;
	height: 150px;
}

ion-icon{
	font-size: 30px;
	position: relative;
	margin-left: 2.8rem;
	margin-bottom: 1rem;
	margin-top: -6rem;
}